.editor-container{
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid var(--theme-elevation-150) !important;
  border-left: 1px solid var(--theme-elevation-150) !important;
  border-right: 1px solid var(--theme-elevation-150) !important;
}

.rich-text-lexical--show-gutter > .rich-text-lexical__wrap > .editor-container > .editor-scroller > .editor > .ContentEditable__root:before{
  left: 10px;
}


.container-wrapper-input-and-button{
  display: flex;
  align-items: center;
  gap: 10px;
}